<a href="https://colab.research.google.com/github/ebinfrancisk10-prog/ict_assignments/blob/main/ASSIGNMENT_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
item1=int(input('enter the item 1 price:'))
q1=int(input('enter the quantity of item 1:'))
item2=int(input('enter the item 2 price'))
q2=int(input('enter the item 2 quantity:'))
total_bill=item1*q1+item2*q2
print('total bill:',total_bill)

enter the item 1 price:45
enter the quantity of item 1:3
enter the item 2 price30
enter the item 2 quantity:2
total bill: 195

In [7]:
t=int(input('enter temperature in celsius:'))
F= (t*9/5) + 32
print('temperature in fahrenheit:',F)

enter temperature in celsius:30
temperature in fahrenheit: 86.0

In [14]:
s=int(input('enter the basic salary:'))
hra=(0.2*s)
da=(0.1*s)
net_salarys=s+hra+da
print('net salary:',net_salarys)

enter the basic salary:20000
net salary: 26000.0

In [15]:
p=int(input('enter the principal amount:'))
r=int(input('enter the rate of interest:'))
t=int(input('enter the time in years:'))
s1=p*r*t/100
print('simple intrest:',s1)

enter the principal amount:10000
enter the rate of interest:5
enter the time in years:2
simple intrest: 1000.0

In [17]:
time=int(input('enter the total minutes:'))
hour=time//60
minute=time%60
print('hour:',hour)
print('minute:',minute)

enter the total minutes:130
hour: 2
minute: 10

In [21]:
w=int(input('enter the weight in kg:'))
h=float(input('enter the height in cm:'))
BMI=w/(h*h)
print('bmi:',BMI)

enter the weight in kg:60
enter the height in cm:1.65
bmi: 22.03856749311295

In [33]:
p=int(input('enter the original amount:'))
d=int(input('enter the discount percentage:'))
discount=(d/100)
print('new price:',discount)

enter the original amount:1200
enter the discount percentage:10
new price: 0.1

In [34]:
a=int(input('enter side a:'))
b=int(input('enter side b:'))
c=int(input('enter side c:'))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

enter side a:5
enter side b:6
enter side c:7
14.696938456699069

In [35]:

p=int(input("Enter wall length (in meters) :"))
d=int(input("Enter wall height (in meters) :"))
window_area=1.5*1.2
wall_area=p*d
paint_area=wall_area-window_area
cost=paint_area*25
print("Total area to be painted :",paint_area)
print("Total cost :",cost)

Enter wall length (in meters) :12
Enter wall height (in meters) :8
Total area to be painted : 94.2
Total cost : 2355.0

In [36]:
a=float(input("Enter number of unit consumed :"))
f=100
rate=a*5.2
total_bill=rate+100
print("Electricity bill :",total_bill)

Enter number of unit consumed :250
Electricity bill : 1400.0